
    main {
        display: grid;
        grid-template-columns: 1fr;
        margin: 1.25rem auto;
    }

    html {
        background-color: #c3d2db;
        background-size: 30%;
        font-family: 'verdana', sans-serif;
        color: white;
        font-size: 1rem;
    }
    
    .content {
        display: block;
        padding: 40px;
        background-color: #4e9da1;
        max-width: 985px;
        margin: 0 auto;
        border: 3px solid rgb(20, 11, 11);
        border-radius: 15px;
    
    }  header,
       footer {
      background-color: #bccaca;
      max-width: 760px;
      margin: 1.25rem auto;
      padding: 1rem;
      color: #fff;
      text-align: center;
    }